* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Alice", serif;
  line-height: 150%;
  color: #573A37;
}

header img {
  height: 3.0rem;
  width: 3.0rem;
  margin: 1rem;
}

header img:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

body {
  background-image: url("./assets/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#page {
  box-sizing: border-box;
  background-color: #F0E8C2;
  max-width: 800px;
  margin: 48px auto 0;
  border-radius: 24px;
  padding: 24px;
}

#page.darkMode {
  background-color: #291b1a;
  color: #f0e8c2;
  h1, h2 {
    color: #f0e8c2;
  }
}

section {
  margin: 24px;
}

#about p + p {
  margin-top: 12px;
}

ul {
  padding-left: 24px;
}

img {
  border-radius: 16px;
}

h1 {
  font-size: 40px;
  line-height: 140%;
}

h2 {
  font-size: 24px;
  line-height: 150%;
}

h1, h2 {
  color: #291B1A;
  margin-bottom: 4px;
}

footer {
  margin: 20px 0 48px;
  color: #F0E8C2;
  text-align: center;
}

footer img {
  vertical-align: middle;
}