#gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

#gallery img {
  flex: 1 1 286px;
  min-width: 0;
  /* the default min-width of flex items is auto, which is the width of the content. Setting it to 0 allows the images to shrink below their intrinsic width if necessary, enabling a more flexible layout. Without this, the images will probably be giant (as their inital size) */
}

@media (width < 80em) {
  #gallery img {
    flex-basis: 328px;
  }
}