input[type="datetime-local"] {
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  color: var(--input-placeholder);
  text-transform: uppercase;
  
  &:focus {
    color: var(--text-heading);
  }
}

.radio-wrapper {
  display: flex;
  gap: 0.25rem;
  background: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: 0.5rem;
  padding: 0.25rem 0.3125rem;
  width: 100%;
}

.radio-inner {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.60rem 1.125rem;
  position: relative;
  
  & input {
    all: unset;
    cursor: pointer;
    position: absolute;
    inset: 0;
  }

  & img {
    width: 1rem;
    height: auto;
  }
}

.radio-inner:hover, .radio-inner:has(:checked) {
  border-radius: 0.3125rem;
  background: var(--shape-hover);
  font: var(--body-sm);
  font-weight: 500;
  color: var(--text-heading);
  
  & img {
    filter: brightness(0) saturate(100%) invert(57%) sepia(77%) saturate(1486%) hue-rotate(187deg) brightness(105%) contrast(106%);
  }
}