fieldset {
  border: none;
  display: grid;
  gap: 1rem;
}

fieldset + fieldset {
  margin-top: 3rem;
}

legend {
  font: var(--heading-sm);
  color: var(--text-heading);
  margin-bottom: 1.5rem;
  display: flex;
  gap: 0.75rem;
  align-items: center;

  & img {
    height: 1.5rem;
    width: fit-content;
    filter: brightness(0) saturate(100%) invert(59%) sepia(14%) saturate(233%) hue-rotate(160deg) brightness(93%) contrast(93%);
  }
}

button {
  all: unset;
  background-color: var(--brand-dark);
  color: var(--text-heading);
  font: var(--body-md);
  font-weight: 500;
  padding: .875rem 1.5rem;
  display: flex;
  align-items: center;
  gap: .75rem;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-left: auto;

  & img {
    width: 1.5rem;
    height: auto;
  }

  &:hover {
    background-color: var(--brand-mid);
  }
}

.error {
  display: flex;
  align-items: center;
  gap: .5rem;

  font: var(--body-xs);
  color: var(--danger);

  & img {
    width: 1rem;
    height: auto;
    filter: brightness(0) saturate(100%) invert(67%) sepia(92%) saturate(4950%) hue-rotate(329deg) brightness(108%) contrast(101%);
  }
}

input:not(:focus):valid + .error {
  display: none;
}