.subtitle {
  font: var(--inconsolata-subtitle);
  color: var(--red);
}

.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.flex {
  display: flex;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}